.root {
  -fx-font-size: 14pt;
  -fx-font-family: "Impact";
  -fx-base: rgb(132, 145, 47);
  -fx-background: rgb(225, 228, 203);
}

.button {
  -fx-text-fill: #006464;
  -fx-background-color: #800000;
  -fx-border-radius: 15;
  -fx-background-radius: 15;
  -fx-padding: 1;
  -fx-pref-width: 100;
}

.button:hover {
  -fx-background-color: #3a3a3a;
}

.default-color0.chart-series-line {
  -fx-stroke: #b8860b;
}

.default-color1.chart-series-line {
  -fx-stroke: #00ff00;
}

.axis {
  -fx-font-size: 10;
}

.chart-title {
  -fx-font-size: 10;
}
.spinner.split-arrows-vertical {
  -fx-pref-width: 5;
}
.spinner.split-arrows-vertical .increment-arrow-button {
  -fx-padding: 1 2 1 2; /*caspian.css values are 4 8 4 8 */
}
.spinner.split-arrows-vertical .decrement-arrow-button {
  -fx-padding: 1 2 1 2; /*caspian.css values are 3 8 6 8 */
}
.spinner.split-arrows-vertical .increment-arrow-button .increment-arrow {
  -fx-padding: 2 3 2 3;    /*caspian.css values are 2 4 2 4 */
}
.spinner.split-arrows-vertical .decrement-arrow-button .decrement-arrow {
  -fx-padding: 2 3 2 3; /*caspian.css values are 2 4 2 4 */
}



