.root {
    -fx-font-size: 14pt;
    -fx-font-family: "Impact";
    -fx-base: rgb(132, 145, 47);
    -fx-background: rgb(225, 228, 203);
}

.button {
    -fx-text-fill: #006464;
    -fx-background-color: #800000;
    -fx-border-radius: 15;
    -fx-background-radius: 15;
    -fx-padding: 1;
    -fx-pref-width: 100;
}

.button:hover {
    -fx-background-color: #3a3a3a;
}
.default-color0.chart-series-line {-fx-stroke: #b8860b;}
.default-color1.chart-series-line {-fx-stroke: #00ff00;}